%div.center{"ng-controller" => "GameTurnController as gameCtrl"}
  .dice
    .clipzone
      %img{"src" => "images/dice-26772_640.png", "class" => "die die-{{die1}}"}
    .clipzone
      %img{"src" => "images/dice-26772_640.png", "class" => "die die-{{die2}}"}
  .bank
    %span.bank-title
      Bank:
    %span#bank.bank-amount
      ${{bank}}
    %div
      %label.betting-option
        %input.option{"type" => 'radio', "value" => 'cho', "name" => "bet-choice"}
        Cho (even)
      %label.betting-option
        %input.option{"type" => 'radio', "value" => 'han', "name" => "bet-choice"}
        Han (odd)
    %input#bet{"type" => "text", "size" => 10}
    %input#place-bet.button{"type" => "button", "value" => "Place Bet", "ng-click" => "placeBet()"}
    %br
  .center
    #cho.han-cho
      cho
    #han.han-cho
      han
  .center
    %input#roll.button{"type" => "button", "value" => "Roll 'Em", "ng-click" => "rollDice()"}
  .center.result{"ng-show" => "isWinner"}
    %img{"src" => "images/winning.gif"}
  .center.result{"ng-show" => "isLoser"}
    %img{"src" => "images/loser.gif"}