%div.center{"ng-controller" => "GameTurnController as gameCtrl"}
  .dice
    .clipzone
      %img{"src" => "images/dice-26772_640.png", "class" => "die die-{{die1}}"}
    .clipzone
      %img{"src" => "images/dice-26772_640.png", "class" => "die die-{{die2}}"}
  .bank
    %span.bank-title
      Bank:
    %span#bank.bank-amount
      $999,999,999
    %input#bet{"type" => "text", "size" => 10}
    %input.button{"type" => "button", "value" => "Place Bet"}
    %br
  .center
    #cho.han-cho
      cho
    #han.han-cho
      han
  .center
    %input.button{"type" => "button", "value" => "Roll 'Em", "ng-click" => "rollDice()"}