.main {
    width: 700px;
    margin: 0 auto;
    position: relative;
    font-family: Helvetica, Arial, Sans;
}

.han-cho {
    position: relative;
    display: inline-block;
    color: #0094C4;
    border: solid 1px #0094C4;
    background-color: #D5E7ED;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    margin: 25px 10px;
}

.selected {
    color: #D5E7ED;
    background-color: #0094C4;
    border: solid 1px #D5E7ED;
}

.dice {
    position: absolute;
    left: 0;
    top: 40px;
    width: 300px;
}

.clipzone
{
    position: relative;
    width: 107px;
    height: 105px;
    overflow: hidden;
    display: inline-block;
}

.bank {
    margin-left: 50%;
    text-align: left;
}

.bank-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    display: block;
}

.bank-amount {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    display: block;
    color: darkgreen;
    background-color: lightgoldenrodyellow;
    border: 3px solid darkgreen;
    margin-bottom: 10px;
    border-radius: 10px;
}

input[type="text"] {
    border-radius: 10px;
    font-size: 30px;
    text-align: right;
    vertical-align: bottom;
}

.betting-option {
    display: inline-block;
    padding: 5px;
    border: 1px solid;
    width: 42%;
    border-radius: 5px;
    margin: 10px 5px;
    color: #0094C4;
    border: solid 1px #0094C4;
}

.betting-option.selected {
    color: #0094C4;
    border: solid 1px #0094C4;
    background-color: #D5E7ED;
}

.die
{
    position: relative;
}
.no-roll
{
    left: 105px;
}

.die-1
{
    left: 2px;
}

.die-2
{
    left: -105px;
}

.die-3
{
    left: -214px;
}

.die-4
{
    left: -321px;
}

.die-5
{
    left: -427px;
}

.die-6
{
    left: -536px;
}

.button {
    background-color: #768d87;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
}
.button:hover {
    background-color: #6c7c7c;
}
.button:active {
    position: relative;
    top: 1px;
}
.button.disabled {
    background-color: lightgrey;
    color: darkgrey;
    border-color: darkgray;
}
.center {
    text-align:center
}
.result {
    margin: 20px;
}
