.main {
    width: 700px;
    margin: 0 auto;
    position: relative;
    font-family: Helvetica, Arial, Sans;
}

.dice {
    position: absolute;
    left: 0;
    top: 15px;
    width: 300px;
}

.clipzone
{
    position: relative;
    width: 107px;
    height: 105px;
    overflow: hidden;
    display: inline-block;
}

.bank {
    margin-left: 50%;
    text-align: left;
}

.bank-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    display: block;
}

.bank-amount {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0 25px 0;
    display: block;
    color: darkgreen;
}

input[type="text"] {
    border-radius: 10px;
    font-size: 24px;
    text-align: right;
}

.die
{
    position: relative;
}
.no-roll
{
    left: 105px;
}

.die-1
{
    left: 2px;
}

.die-2
{
    left: -105px;
}

.die-3
{
    left: -214px;
}

.die-4
{
    left: -321px;
}

.die-5
{
    left: -427px;
}

.die-6
{
    left: -536px;
}

.button {
    background-color: #768d87;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
}
.button:hover {
    background-color: #6c7c7c;
}
.button:active {
    position: relative;
    top: 1px;
}
.center {
    text-align:center
}

